<div class="expandable">
    <ul>
        <li><h2>Title Text </h2></li>
        <li><h3>Summary</h3></li>
        <li><p> para goes here. <a class="clk" href="#">More information</a></p>
        </li></ul>
</div>