
<div style="height:1000px;overflow:auto;">
    <div id="calendar" class="calendar row">
    <div class="calendar-body col-md-8">
      <div class="calendar-title"></div>
      <div class="calendar-list"></div>
    </div>
    <div class="calendar-nav col-md-4"></div>
    </div>

<div class="expandable">
    <ul>
        <li><h2>Today </h2></li>
        <li><a name=""></a></li>
        <li><p> para goes here. <a class="clk" href="#">More information</a></p></li>
    </ul>
</div>

<div class="details">
        <ul>
            <li><h2>Title Text </h2></li>
            <li><h3>Summary</h3></li>
            <li><p> para goes here.</p></li>
        </ul>
</div>
</div>
