
<div style="height:1000px;overflow:auto;">
    <div id="calendar" class="calendar row">
    <div class="calendar-body col-md-8">
      <div class="calendar-title"></div>
      <div class="calendar-list"></div>
    </div>
    <div class="calendar-nav col-md-4"></div>
    </div>

<div class="expandable">
    <ul>
        <li><h3>Datum </h3></li>
        <table>
            <thead>
            <tr>
                <th>Rutt</th>
                <th>Förare</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a class="clk" href="#">Göteborg-Stockholm</a></td>
                <td>Jonathan Ortheden</td>
            </tr>
            </tbody>
        </table>
    </ul>
</div>

<div class="details">
        <ul>
            <li><h3>Göteborg-Stockholm </h3></li>
            <li><p>Tid: 2h</p></li>
            <li><p>Kostnad: 300 kr.</p></li>
            <li><p>OB-tillägg: 20kr</p></li>
            <li><p>Rast: 35 min</p></li>
        </ul>
</div>
</div>
