<h2 class="page-header">Calendar</h2>
<div id="calendar" class="calendar row">
    <div class="calendar-body col-md-8">
      <div class="calendar-title"></div>
      <div class="calendar-list"></div>
    </div>
    <div class="calendar-nav col-md-4"></div>
</div>
